<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ShareIT.VNE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>ConnectorServlet</servlet-name>
    <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
    <init-param>
      <description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectorServlet</servlet-name>
    <url-pattern>
			/templates/admin/assets/js/ckfinder/core/connector/java/connector.java
	</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCatController</servlet-name>
    <servlet-class>controller.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCatController</servlet-name>
    <url-pattern>/admin/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddCatController</servlet-name>
    <servlet-class>controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatController</servlet-name>
    <url-pattern>/admin/cat/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditCatController</servlet-name>
    <servlet-class>controller.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCatController</servlet-name>
    <url-pattern>/admin/cat/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCatController</servlet-name>
    <servlet-class>controller.AdminDelCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCatController</servlet-name>
    <url-pattern>/admin/cat/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <servlet-class>controller.AdminIndexNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <url-pattern>/admin/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewsController</servlet-name>
    <servlet-class>controller.AdminAddNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewsController</servlet-name>
    <url-pattern>/admin/news/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditNewsController</servlet-name>
    <servlet-class>controller.AdminEditNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditNewsController</servlet-name>
    <url-pattern>/admin/news/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelNewsController</servlet-name>
    <servlet-class>controller.AdminDelNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelNewsController</servlet-name>
    <url-pattern>/admin/news/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexUserController</servlet-name>
    <servlet-class>controller.AdminIndexUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexUserController</servlet-name>
    <url-pattern>/admin/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditUserController</servlet-name>
    <servlet-class>controller.AdminEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserController</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelUserController</servlet-name>
    <servlet-class>controller.AdminDelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelUserController</servlet-name>
    <url-pattern>/admin/user/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCommentController</servlet-name>
    <servlet-class>controller.AdminCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCommentController</servlet-name>
    <url-pattern>/admin/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminContactController</servlet-name>
    <servlet-class>controller.AdminContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminContactController</servlet-name>
    <url-pattern>/admin/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminPostCommentController</servlet-name>
    <servlet-class>controller.AdminPostCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPostCommentController</servlet-name>
    <url-pattern>/admin/postcmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminReplyCommentController</servlet-name>
    <servlet-class>controller.AdminReplyCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReplyCommentController</servlet-name>
    <url-pattern>/admin/replycmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCommentController</servlet-name>
    <servlet-class>controller.AdminDelCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCommentController</servlet-name>
    <url-pattern>/admin/comment/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexAdsController</servlet-name>
    <servlet-class>controller.AdminIndexAdsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexAdsController</servlet-name>
    <url-pattern>/admin/ads</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddAdsController</servlet-name>
    <servlet-class>controller.AdminAddAdsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddAdsController</servlet-name>
    <url-pattern>/admin/ads/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditAdsController</servlet-name>
    <servlet-class>controller.AdminEditAdsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditAdsController</servlet-name>
    <url-pattern>/admin/ads/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelAdsController</servlet-name>
    <servlet-class>controller.AdminDelAdsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelAdsController</servlet-name>
    <url-pattern>/admin/ads/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogoutController</servlet-name>
    <servlet-class>controller.AdminLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutController</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicNewsController</servlet-name>
    <servlet-class>controller.PublicNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicNewsController</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCatController</servlet-name>
    <servlet-class>controller.PublicCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCatController</servlet-name>
    <url-pattern>/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicDetailController</servlet-name>
    <servlet-class>controller.PublicDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDetailController</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicSearchController</servlet-name>
    <servlet-class>controller.PublicSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicSearchController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchController</servlet-name>
    <servlet-class>controller.AdminSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchController</servlet-name>
    <url-pattern>/admin/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicContactController</servlet-name>
    <servlet-class>controller.PublicContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicContactController</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminContactDetailController</servlet-name>
    <servlet-class>controller.AdminContactDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminContactDetailController</servlet-name>
    <url-pattern>/admin/contactdetail</url-pattern>
  </servlet-mapping>
</web-app>